<h1>Crear venta nueva</h1>

<%= form_with model: @sale, url: sales_path, local: true do |form| %>
<%= form.label :"Detalle Venta" %>
<%= form.text_area :detail, id: :sale_detail %>

<%= form.label :"Categoria" %>
<%= form.text_field :category, id: :sale_category %>

<%= form.label :"Valor" %>
<%= form.number_field :value, id: :sale_value %>

<%= form.label :"Descuento" %>
<%= form.number_field :discount, id: :sale_discount %>

<%= form.label :"Excento de IVA" %>
<%= form.check_box :tax %>

<%= form.submit "Enviar" %>
<% end %>




<p>asdf</p>
